<!doctype html>
<html
        lang="en"
        class="light-style layout-wide customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/static/assets/"
        data-template="vertical-menu-template"
        data-style="light">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Login |
        {% if app_identity %}
        {{ app_identity.fullname }}
        {% else %}
        Python Applications
        {% endif %}
    </title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link
            rel="icon"
            type="image/x-icon"

            {% if app_identity %}
            href="{{ app_identity.logo.url }}"
            {% else %}
            href="/static/assets/img/icons/brands/python.png"
            {% endif %}
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
            rel="stylesheet"/>

    <!-- Icons -->
    <link rel="stylesheet" href="/static/assets/vendor/fonts/remixicon/remixicon.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/fonts/flag-icons.css"/>

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/node-waves/node-waves.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/css/rtl/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/static/assets/vendor/css/rtl/theme-default.css"
          class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/static/assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/libs/typeahead-js/typeahead.css"/>
    <!-- Vendor -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/@form-validation/form-validation.css"/>

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/static/assets/vendor/css/pages/page-auth.css"/>

    <!-- Helpers -->
    <script src="/static/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="/static/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/assets/js/config.js"></script>


    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>-->
    <!--    <script>-->
    <!--        document.addEventListener("DOMContentLoaded", function () {-->
    <!--        const form = document.querySelector("form");-->
    <!--        form.addEventListener("submit", async function (e) {-->
    <!--            e.preventDefault();-->
    <!--            const username = document.getElementById("pengguna").value;-->
    <!--            const password = document.getElementById("sandi").value;-->
    <!--            var derived_key = CryptoJS.enc.Base64.parse("XxfjQ2pEXmiy/nNZvEJ43i8hJuaAnzbA1Cbn1hOuAgA=")-->
    <!--            var iv = CryptoJS.enc.Utf8.parse("1020304050607087");-->
    <!--            var hashedUsername = CryptoJS.AES.encrypt(username, derived_key, {iv: iv, mode: CryptoJS.mode.CBC}).toString();-->
    <!--            var hashedPassword = CryptoJS.AES.encrypt(password, derived_key, {iv: iv, mode: CryptoJS.mode.CBC}).toString();-->
    <!--            document.getElementById("hashedUsername").value = hashedUsername;-->
    <!--            document.getElementById("hashedPassword").value = hashedPassword;-->
    <!--            form.submit();-->
    <!--        });-->
    <!--    });-->
    <!--    </script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>-->
</head>

<body>
<!-- Content -->

<div class="authentication-wrapper authentication-cover">
    <!-- Logo -->
    <a href="/" class="auth-cover-brand d-flex align-items-center gap-2">
        <img
                src="/static/mowilexfront.png"
                                    style="width: 40px;">
        <span class="app-brand-text demo text-heading fw-semibold">
            {% if app_identity %}
            {{ app_identity.nickname }}
            {% else %}
            Python Applications
            {% endif %}
        </span>
    </a>
    <!-- /Logo -->
    <div class="authentication-inner row m-0">
        <!-- /Left Section -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-12 pb-2">
<!--            <img-->
<!--                    src="/static/bg.jpg"-->
<!--                    class="auth-cover-illustration w-100"-->
<!--                    alt="auth-illustration"-->
<!--                    data-app-light-img="illustrations/auth-login-illustration-light.png"-->
<!--                    data-app-dark-img="illustrations/auth-login-illustration-dark.png"-->
<!--            />-->
            <img
                    src="/static/mowilex.jpg"
                    class="authentication-image"
                    alt="mask"
                    data-app-light-img="illustrations/auth-cover-login-mask-light.png"
                    data-app-dark-img="illustrations/auth-cover-login-mask-dark.png"/>
        </div>
        <!-- /Left Section -->

        <!-- Login -->
        <div
                class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative py-sm-12 px-12 py-6">

            <div class="w-px-400 mx-auto pt-5 pt-lg-0">
                <h5 class="mb-1">Welcome to
                    {% if app_identity %}
                    {{ app_identity.fullname }}
                    {% else %}
                    Python App
                    {% endif %}
                    👋</h5>
                <p class="mb-5">Please sign in to your account</p>

                <form class="mb-5" method="POST">
                    {% csrf_token %}
                    <div class="form-floating form-floating-outline mb-5">
                        <!--                        <input type="hidden" name="username" id="hashedUsername" value="">-->
                        <!--                        <input type="hidden" name="password" id="hashedPassword" value="">-->
                        <input
                                type="text"
                                class="form-control"
                                id="pengguna"
                                name="username"
                                placeholder="Enter your username"
                                required/>
                        <label for="pengguna">Username</label>
                    </div>
                    <div class="mb-5">
                        <div class="form-password-toggle">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input
                                            type="password"
                                            id="sandi"
                                            name="password"
                                            class="form-control"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            required/>
                                    <label for="sandi">Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="mb-5 d-flex justify-content-between mt-5">-->

                    <!--                        <div class="row">-->
                    <!--                            <div class="col-6">-->
                    <!--                                <img src="{{ captcha_image }}" alt="Captcha" class="form-control" height="100%">-->
                    <!--                            </div>-->
                    <!--                            <div class="col-6">-->
                    <!--                                <div class="form-group form-floating text-start">-->
                    <!--                                    <input type="text" name="captcha" class="form-control" id="id_captcha" required>-->
                    <!--                                    <label class="mb-1" for="id_captcha">CAPTCHA</label>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            <input type="hidden" name="captcha_0" value="{{ captcha_key }}">-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <button type="submit" class="btn btn-primary d-grid w-100">Sign in</button>
                </form>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- /Login -->
    </div>
</div>

<!-- / Content -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/static/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/static/assets/vendor/libs/popper/popper.js"></script>
<script src="/static/assets/vendor/js/bootstrap.js"></script>
<script src="/static/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/static/assets/vendor/libs/hammer/hammer.js"></script>
<script src="/static/assets/vendor/libs/i18n/i18n.js"></script>
<script src="/static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/static/assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/assets/vendor/libs/@form-validation/popular.js"></script>
<script src="/static/assets/vendor/libs/@form-validation/bootstrap5.js"></script>
<script src="/static/assets/vendor/libs/@form-validation/auto-focus.js"></script>

<!-- Main JS -->
<!--<script src="/static/assets/js/main.js"></script>-->

<!-- Page JS -->
<script src="/static/assets/js/pages-auth.js"></script>
</body>
</html>
